{% extends "main/header.html" %} 

{% block content %}
<div>
<div class="row">
  <div class="col s12 m8 l90">
      <div class="card amber darken-2 hoverable">
        <div class="card-content black-text">
          <h2>Available Competences: {{Competences.count}}</h2>
          <!-- loop through all categories used by competences -->
          {% for competenceCategory in CompetenceCategories %}
            <h4>{{competenceCategory}} Category:</h4>
            <!-- loop through all levels used by competences -->
            {% for competenceLevel in CompetenceLevels %}
              <h5>{{competenceLevel}} Level:</h5>
              <!-- loop through all competences -->
              {% for competence in Competences %}
                <!-- if competence is in category and level -->
                {% if competence.competenceCategory == competenceCategory and competence.competenceLevel == competenceLevel %}
                  <!-- if competence is not planned or achieved -->
                  {% if competence not in PlannedCompetences and competence not in AchievedCompetences %}
                    <p>{{competence}} <a href="addplannedcompetence/{{competence.slug}}" class="waves-effect waves-light btn green"><i class="material-icons">Plan</i></a> <a href="addachievedcompetence/{{competence.slug}}" class="waves-effect waves-light btn green"><i class="material-icons">Achieve</i></a></p>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </a>
  </div>
</div>


<div>
<div class="row">
  <div class="col s12 m8 l90">
      <div class="card amber darken-2 hoverable">
        <div class="card-content black-text">
          <h2>Planned Competences: {{PlannedCompetences.count}}</h2>
          {% for competenceCategory in PlannedCompetenceCategories %}
            <h4>{{competenceCategory}} Category:</h4>
            {% for competenceLevel in PlannedCompetenceLevels %}
              <h5>{{competenceLevel}} Level:</h5>
              {% for plannedCompetence in PlannedCompetences %}
                {% if plannedCompetence.competence.competenceCategory == competenceCategory and plannedCompetence.competence.competenceLevel == competenceLevel %}
                  <p>{{plannedCompetence}} <a href="/removecompetence/{{plannedCompetence.slug}}" class="waves-effect waves-light btn red"><i class="material-icons">Remove</i></a> <a href="addachievedcompetence/{{plannedCompetence.competence.slug}}" class="waves-effect waves-light btn green"><i class="material-icons">Achieve</i></a></p>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </a>
  </div>
</div>


<div>
<div class="row">
  <div class="col s12 m8 l90">
      <div class="card amber darken-2 hoverable">
        <div class="card-content black-text">
          <h1>Achieved Competences: {{AchievedCompetences.count}}</h1>
          {% for competenceCategory in AchievedCompetenceCategories %}
            <h4>{{competenceCategory}} Category:</h4>
            {% for competenceLevel in AchievedCompetenceLevels %}
              <h5>{{competenceLevel}} Level:</h5>
              {% for achievedCompetence in AchievedCompetences %}
                {% if achievedCompetence.competence.competenceCategory == competenceCategory and achievedCompetence.competence.competenceLevel == competenceLevel %}
                  <p>{{achievedCompetence}} <a href="/removecompetence/{{achievedCompetence.slug}}" class="waves-effect waves-light btn red"><i class="material-icons">Remove</i></a></p>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}
