{% extends "main/header.html" %} 

{% block content %}
<div>
<div class="row">
  <div class="col s12 m6 l70">
    <a href="/competenceprofile" , style="color: #000">
      <div class="card amber darken-2 hoverable">
        <div class="card-content black-text">
          <div class="card-title">Competence Profile: {{CompetenceProfile.name}}</div>
          <p>Username: {{CompetenceProfile.teacher.user.username}}</p>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l4">
      <div class="card amber darken-2 hoverable">
        <div class="card-content black-text">
          <div class="card-title">Teacher: {{Teacher.name}}</div>
          <!-- if description exists add description -->
          {% if Teacher.description %}
            <p>Description: {{Teacher.description}}</p>
          {% endif %}
          <p>Job: {{Teacher.job}}</p>
          <p>User: {{Teacher.user}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
{% endblock %}
